version: '3.9'
services:
  postgres:
    image: postgres:16-alpine
    container_name: stageos-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: stageos
    ports:
      - '5432:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: stageos-redis
    ports:
      - '6379:6379'

  minio:
    image: minio/minio:RELEASE.2025-01-18T00-31-37Z
    container_name: stageos-minio
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: server /data --console-address ':9001'
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio_data:/data

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    container_name: stageos-api
    env_file:
      - .env.example
    depends_on:
      - postgres
      - redis
      - minio
    ports:
      - '4000:4000'

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    container_name: stageos-web
    env_file:
      - .env.example
    depends_on:
      - api
    ports:
      - '3000:3000'

volumes:
  pg_data:
  minio_data:
